<!DOCTYPE html>
<html ng-app="restaurantSearchApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")

</head>
<body ng-controller="MapDisplayCtrl">

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyA3al-x2U2XnoxgwsgzZfc2A3GzykzZVhk&sensor=true"></script>
    <script src="//angulargm.herokuapp.com/angular-gm-0.3.1.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>